*{
    margin: 0;
    padding: 0;
}
body {
    
  }

a{
    cursor: pointer;
}
li{
    cursor: pointer;
}
h3{
    color: green;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav a{
    text-decoration: none;
    font-size: 32px;
    color: rgb(107, 215, 179);
}
nav a span{
    font-size: 52px;
    color: rgb(101, 109, 23);
}

nav .navigation ul{ 
    padding-right: 150px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
nav .navigation ul li{
    list-style: none;
    margin-right: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: rgb(93, 24, 24);
    font-size: 21px;
    font-weight: 600;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover{
    color: rgb(0, 64, 255);
}
section h1{
    font-size: 2.7rem;
    color: rgb(49, 122, 125);
}

/*********** Home ***********/
#home{
    font-family: "Sofia", sans-serif;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/bg-banner.png");
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 75px;
}
#home > img{
    height: 100px;
    width: 100px;
    border-radius: 55px;
}
#home h1{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
}
#home h2{
    color: rgb(0, 255, 0);
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 53px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 2px;
    line-height: 25px;
}
#home .btn{
    font-family: sans-serif;
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    color: aquamarine;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgba(255, 255, 255, 0.233);
    font-weight: 600;
    border: 0.5px solid aquamarine;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #fff;
    transition: 0.3s ease;
}
#home a:hover{
    color: #fff;
    border: 0.5px solid #fff;
    box-shadow: 2px 2px 10px aquamarine;
}

/* features */
/* #features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}
#features .fea-base{display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}
#features h1{
    font-size: 2.3rem;
    color: rgb(49, 122, 125);
}
#features .fea-box{
    background: #F9F9FF;
    text-align: start;
}
#features .fea-box i{
    font-size: 2rem;
    color: rgb(65, 85, 78);
}
#features .fea-box h3{
    font-size: 1.2rem;
    color: rgb(46, 46, 56);
    padding: 13px 0 7px 0;
    font-weight: 600;
}
#features .fea-box p{
    font-size: 1rem;
    color: rgb(70, 70, 87);
    font-weight: 400;
} */

/* Courses */
#videos{
    padding: 4vw 8vw 0 8vw;
    text-align: center;
}
#videos .video-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}
#videos .c-cards{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
}
#videos .c-cards img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#videos .c-cards details{
    padding: 15px 15px 0 15px;
}
#videos .c-cards .cost{
    background: green;
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}
/* #videos .c-cards i{
    color: #fdc938;
    font-size: .9rem;
} */